$gray: #D9D1C7;
$perp: #6D79FF;


*:focus{
  outline: none;
}
body{
  margin: 0;
  padding: 0;
  background: #F8F6F4;
  font-family: 'Inter', sans-serif;
}
.container{
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
._btn_active{
  background: $perp;
  color: #fff;
}

._none{
  display: none;
}
